/* Variables */
:root {
  --primary: #68d65a;
  --card: #ecf0f1;
  --accent: #ad0dcb;
  --text-dark: #2c3e50;
  --text-light: #ffffff;
}

/* Tipografía */
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  color: var(--text-dark);
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

/* Encabezado */
.header-site {
  background: var(--primary);
  color: var(--text-light);
  padding: 1rem;
  text-align: center;
}

.logo img {
  height: 100px;
}

.hero {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-menu a {
  margin: 0 0.5rem;
  color: var(--text-light);
  text-decoration: none;
  font-weight: bold;
}

.nav-menu a:hover {
  text-decoration: underline;
  transition: transform 0.3s ease, font-size 0.3s ease;
  font-size: 1.1rem;
}

/* Sección de productos */
.productos {
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.productos h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

/* Grid de tarjetas */
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding: 2rem;
}

.card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 1rem;
  text-align: center;
  transition: transform 0.2s;
  max-width: 100%;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card h3 {
  margin: 0.5rem 0;
  font-size: 1.1rem;
  color: #333;
}

.card p {
  font-weight: bold;
  color: #555;
}


/* Botón comprar */
.btn-comprar {
  background-color: lightgrey;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-comprar:hover {
  background-color: var(--accent);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.btn-comprar:active {
  transform: scale(1.05);
}

/* Footer */
.footer-site {
  background-color: var(--primary);
  color: var(--text-light);
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}

.nombres {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.footer-site .redes a {
  color: var(--text-light);
  text-decoration: none;
  margin: 0 0.5rem;
}

.footer-site .redes a:hover {
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .nav-menu {
    margin-top: 1rem;
  }

  .cards{
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }

}