:root {
    --primary: #2c3e50;
    --card: #ecf0f1;
    --acccent: #ad0dcb
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header-site,
.footer-site {
    width: 100%;
    background: var(--primary);
    color: blue;
    text-align: center;
}

.nombres{
    text-align: left;
    text-shadow: #000000;
    color: red;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "sidebar events details";
    gap: 1 rem;
}

.events {
    grid-area: events;
    background-color: var(--card);
    padding: 1rem;
}

.events h2{
    text-align: center;
}


.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 1rem;
}

.card{
    background: var(--card);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.card img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card:hover{
    transform: translateY(-4px);
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-areas: "events";
    }
    .events {
        padding: 1rem;
    }
}

@media (max-width: 480px) {
    .header-site,
    .footer-site {
        font-size: 0.9rem;
    }
    .card {
        border-radius: 5px;
    }

    .card img {
        height: auto;
    }
}